html {
    background: #eee;
}

div {
    width: 200px;
    height: 200px;
}

.box1 {
    width: 100px;
    height: 100px;
    background: url('../assets/3.png') no-repeat;
}
.box2 {
    background: url('../assets/2.png') no-repeat;
}