@font-face {
    font-family: 'FontAwesoeme';
    src: url('../assets/fonts/fontawesome-webfont.eot'),
    url('../assets/fonts/fontawesome-webfont.svg'),
    url('../assets/fonts/fontawesome-webfont.ttf'),
    url('../assets/fonts/fontawesome-webfont.woff'),
    url('../assets/fonts/fontawesome-webfont.woff2');
}

div {
    font-family: FontAwesoeme;
}

.fa-folder::before {
    content: "\f07b";
}